

#msgscreen
{
	display: none;
	margin:auto;
	width: 1000px;
	/*height: 100%;*/
}

#nickscreen
{
	display: none;
}


#loadingscreen
{
	display: none;
}

#passscreen
{
	display: none;
}


#passscreen, #nickscreen
{
	width: 400px;
	background-color: #eee;
	margin-top: 150px;
	margin-left: auto;
	margin-right: auto;
	padding: 100px;
}

#msgBox
{
width: 1000px;
float:left;
border: 1px #888 solid;

}

#msgcont,#msguppercont
{
	height: 500px;
}

#msguppercont
{
margin-bottom: 20px;
}

#msgBtn
{
width: 50px;
float: right;
border: 1px #000 solid;
display: none; /*Yes, this is how I remove elemnts*/
}

#msgForm
{
	/*padding-top: 2em;*/
}

#errmsg
{
	color: #f00;
	display: none;
}

#msgcont
{
	overflow: auto;
	border: #aaa 2px solid;
	width: 800px;
	float: left;
	padding-left: 10px;
	padding-right: 10px;
}

#nicks
{
	width: 120px;
	float:right;
	list-style: none;
	display:block;
}

#nicks li
{
	display: block;
	border-bottom: #eee 1px solid;
	margin-bottom: 3px;
}



.nickline
{
	border-bottom: 2px #000 solid;
	margin-bottom: 4px;
	margin-top: 7px;
	color: #000;
}

.meta
{
	color: #888;
	margin-left: 50px;
	float: right;
}

.message
{
	border-left: #bbb 4px solid;
	padding-left: 5px;
	background-color: #ebebeb;
	margin-left: 10px;
}

/*floatcontainer example taken from csscreator.com*/

.floatcontainer:after{
    content: "."; 
    display: block; 
    height: 0; 
    font-size:0;	
    clear: both; 
    visibility:hidden;
    }
