html
{
	height: 100%;
	padding: 0;
	margin: 0;
}

body
{
	height: 100%;
	padding: 0;
	margin: 0;
	padding-left: 10px;
	padding-right: 10px;
}

#msgscreen
{
	display: none;
	height: 100%;
}

#nickscreen
{
	display: none;
}


#loadingscreen
{
	display: none;
}

#passscreen
{
	display: none;
}


#msgBox
{
width: 83%;
float:left;
height: 2em;
border: 1px #888 solid;

}

h1
{
	height: 10%;
}

#msguppercont
{
	height: 75%;
}

#msgBtn
{
width: 15%;
height: 2em;
float: right;
border: 1px #000 solid;
}

#msgForm
{
	padding-top: 1%;
	height: 10%;
}

#errmsg
{
	color: #f00;
	display: none;
}

#msgcont
{
	height: 500px;
	overflow: auto;
	border: #aaa 2px solid;
	width: 83%;
	float: left;
}

#nicks
{
	width: 13%;
	float:right;
	list-style: none;
	display:block;
}

#nicks li
{
	display: block;
	border-bottom: #eee 1px solid;
	margin-bottom: 3px;
}



/*floatcontainer example taken from csscreator.com*/

.floatcontainer:after{
    content: "."; 
    display: block; 
    height: 0; 
    font-size:0;	
    clear: both; 
    visibility:hidden;
    }
